<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grays2.device.mapper.DeviceInspectionMapper">

    <resultMap id="BaseResultMap" type="com.grays2.device.domain.DeviceInspection">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="patrolTime" column="patrol_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,device_id,user_id,
        status,description,patrol_time,
        create_time
    </sql>
    <select id="getList" resultType="com.grays2.device.domain.vo.InspectionVo">
        SELECT message.id,
               message.device_id,
               message.`name` AS device_name,
               sys.`name`     AS user_name,
               inspection.`status`,
               inspection.description,
               inspection.patrol_time,
               inspection.create_time
        FROM device_inspection AS inspection
                 LEFT JOIN device_message AS message ON message.device_id = inspection.device_id
                 LEFT JOIN sys_user AS sys ON sys.user_id = inspection.user_id

        ORDER BY inspection.create_time DESC
    </select>
    <select id="searchDeviceInspection" resultType="com.grays2.device.domain.vo.InspectionVo">
        SELECT message.id,
               message.device_id,
               message.`name` AS device_name,
               sys.`name`     AS user_name,
               inspection.`status`,
               inspection.description,
               inspection.patrol_time,
               inspection.create_time
        FROM device_inspection AS inspection
                 LEFT JOIN device_message AS message ON message.device_id = inspection.device_id
                 LEFT JOIN sys_user AS sys ON sys.user_id = inspection.user_id
        WHERE inspection.device_id = #{name}
        ORDER BY inspection.create_time DESC
    </select>
</mapper>
