<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grays2.system.mapper.LogMapper">

    <select id="getList" resultType="com.grays2.system.domain.Log">
        select *
        from sys_log
        order by create_date desc
    </select>
</mapper>
