<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grays2.system.mapper.UserPermMapper">
    <insert id="insertList" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user_perm (perm, zh) values
        <foreach collection="list" item="item" separator=",">
            (#{item.perm},#{item.zh})
        </foreach>
    </insert>
</mapper>
